
body button:hover{
    cursor:pointer;

}
html, body {
  background-color: #b9a2a2;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.projects {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: row;
    width: 100%;
}


.main-content {
    left: 0;
    right: 0;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    z-index: 10;
   

}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    color: #000000;
}
#about-me-title{
    font-size: 40pt;
    font-family: 'Corinthia';
    font-weight: bold;

    
}

.about-me p{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 800px) {
    .projects {
        flex-direction: column;  /* Change to Column */
        align-items: center;
    }
}
.project {
 
    margin: 10px;
    padding: 20px;
    border: 1px solid #000000;
    width: 300px;

    cursor: pointer;
 
}



a {
    color: #1877F2; /* Facebook blue */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    
}
.fa-facebook {
    color: #076cf1;  /* Facebook blue */
    transition: 0.3s ease-in-out;

}
.fa-facebook:hover {
    text-shadow: 0 0 20px #1877F2;
}



footer {
    background: #000000;
    width: 100%;
    bottom: 0;
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 1000;
}
.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}


.overlay-left {
    left: 0;
    width: 28%;
    background: #f1ecec;
    transform: skew(-30deg);
}
.overlay-left-a {
    left: 0;
    width: 10%;
    background: #f1ecec;

}
.overlay-right {
    right: 0;
    width: 20%;
    background: linear-gradient(135deg, #830343, #ff6b81);
    transform: skew(-30deg);
}



/*
take note  .sidebar first before .sidebar_open
*/
.sidebar {
    height: 100vh;
    width: 400px;
    left: -335px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1009;
    transition: 0.3s ease-in-out;
    align-items: center;
}
/*
take note  below side bar
*/
.sidebar_open {
    left: 0; /* Slide in */
}

.profile-pic {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #830343, #ff6b81);
    padding: 0;
    margin: 0;
    height: 100vh;
 
 
}
#toggleBtn{
    background: transparent;
    margin-left: 5px;
    font-size: 32pt;
    border: transparent;
}

.header-text p{
padding: 0;
color: #ddd;
margin: 0;
}

#header_name_text{
    font-size: 20pt;
   font-weight: bold;
}
#header_prof_text{
    font-size: 14pt;
}

#openForm {
    font-size: 14pt;
    animation: glow-image 1s ease-in-out infinite alternate;
    margin-bottom: 1%;
    width: 150px;
    }


.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15pt;
    height: min-content;
}
#contact-title{
    font-weight: bold;
}
.contact-layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-bottom: 10%;
}
.contact-layout p{
    padding: 0;
    margin: 0;
}
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  @keyframes glow-image {
    0% {
        box-shadow: 0 0 10px #f1eff0;
    }
    50% {
        box-shadow: 0 0 30px #f5f4f4;
    }
    100% {
        box-shadow: 0 0 10px #f7f4f5;
    }
}

.scrolling-text-container {
    display: flex;
    justify-content: left;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    background: #000000;
    position: relative;
    animation: scrollText 10s linear infinite;
   
}

.scrolling-text {
   
    font-size: 3vh;
    color: white;
   
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* Position Left and Right Overlays */



.disp{
    position: fixed; /* Stays above everything */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000085;
  /*  background: rgba(0, 0, 0, 0.164); /* Optional: semi-transparent background */
    z-index: 10008; /* Ensures it is above everything */
}
.signin_form {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    padding: 50px 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgba(17, 14, 13, 0.575);

    /* Gradient Background */
    background: linear-gradient(135deg, #830343, #ff6b81);
}
.signin_form button,input{
    font-size: large;
    margin:5px;
}
.signin_form input{
    width: 200px;
}
.signin_form p{
    font-size: 16pt;
}
.signup_form{

    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
   padding: 50px 20px 50px 20px;
   background: linear-gradient(135deg, #830343, #ff6b81);
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgba(2, 2, 2, 0.575);
}
.signup_form button{
    font-size: 16pt;
    margin: 5px;
}

#messagesContainer{
    width: 95%; /* Set a width if needed */
    height: 70%; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
#messagesContainer button,p{
font-size: 18pt;
}
#message_header{
    color: #eeeaea;
    padding: 0;
    margin: 0;
}
.message_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #ccc;
    width: 30%; /* Adjust width as needed */
    margin: auto;
    background: #aa9b9b;
    height: 80%;
    cursor: grab;
    position: absolute;
}

#closechatbtn {
    background-color: rgb(216, 83, 83);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16pt;
    width: 200px;
}

#closechatbtn:hover {
    background-color: rgb(179, 10, 10);
}
.signout_btn_container{
display:flex;
justify-content: flex-end;

width: 100%;
}

#sendMsgBtn{
    font-size: 16pt;
}



.type_msg_box{
display: flex;
flex-direction: row;
width: 100%;
}

#inputmsg{
    width: 100%;
    font-size: 18pt;
    }
    
#emailDropdown{

    font-size: 18pt;
}
.movable-div1 {
    width: auto;
    height: 20%;
    position: absolute;
    top: 60%;
    left: 2%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 10010;

}

.movable-div1 img {
    width: 100%; /* Makes the GIF fit inside */
    height: 100%;
    pointer-events: none;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11000;
  }
  
  #circle1 {
    background: #ff3b38a9;
  }
  
  #circle2 {
    background: #ff8a42b0;
  }
  
  #circle3 {
    background: #fcd34da4;
  }
  #circle4 {
    background: #1bcebfa8;
  }
  
  #circle5 {
    background: #be1fb6a2;
  }
  
  #circle6 {
    background: #07e6199a;
  }
  